A:SR1# admin display-config 
# TiMOS-B-15.0.R7 both/x86_64 Nokia 7750 SR Copyright (c) 2000-2018 Nokia.
# All rights reserved. All use subject to applicable license agreements.
# Built on Wed Jan 10 15:24:09 PST 2018 by builder in /builds/150B/R7/panos/main

# Generated TUE APR 24 19:49:35 2018 UTC

exit all
configure
#--------------------------------------------------
echo "System Configuration"
#--------------------------------------------------
    system
        name "SR1"
        time
            sntp
                shutdown
            exit
            zone UTC 
        exit
    exit
#--------------------------------------------------
echo "System Security Configuration"
#--------------------------------------------------
    system
        security
            dist-cpu-protection
                policy "_default-access-policy" create
                exit
                policy "_default-network-policy" create
                exit
            exit
        exit
    exit
#--------------------------------------------------
echo "Log Configuration"
#--------------------------------------------------
    log 
    exit 
#--------------------------------------------------
echo "Card Configuration"
#--------------------------------------------------
    card 1
        card-type iom-v
        mda 1
            mda-type m20-v
            no shutdown               
        exit
        no shutdown
    exit
#--------------------------------------------------
echo "Port Configuration"
#--------------------------------------------------
    port 1/1/1
        ethernet
            encap-type dot1q
            mtu 1518
        exit
        no shutdown
    exit
    port 1/1/2
        ethernet
            mode access
            encap-type dot1q
        exit
        no shutdown
    exit
    port 1/1/3
        shutdown
        ethernet                      
        exit
    exit
    port 1/1/4
        shutdown
        ethernet
        exit
    exit
    port 1/1/5
        shutdown
        ethernet
        exit
    exit
    port 1/1/6
        shutdown
        ethernet
        exit
    exit
    port 1/1/7
        shutdown
        ethernet
        exit
    exit
    port 1/1/8                        
        shutdown
        ethernet
        exit
    exit
    port 1/1/9
        shutdown
        ethernet
        exit
    exit
    port 1/1/10
        shutdown
        ethernet
        exit
    exit
    port 1/1/11
        shutdown
        ethernet
        exit
    exit
    port 1/1/12
        shutdown
        ethernet
        exit                          
    exit
    port 1/1/13
        shutdown
        ethernet
        exit
    exit
    port 1/1/14
        shutdown
        ethernet
        exit
    exit
    port 1/1/15
        shutdown
        ethernet
        exit
    exit
    port 1/1/16
        shutdown
        ethernet
        exit
    exit
    port 1/1/17
        shutdown                      
        ethernet
        exit
    exit
    port 1/1/18
        shutdown
        ethernet
        exit
    exit
    port 1/1/19
        shutdown
        ethernet
        exit
    exit
    port 1/1/20
        shutdown
        ethernet
        exit
    exit
#--------------------------------------------------
echo "Management Router Configuration"
#--------------------------------------------------
    router management
    exit                              

#--------------------------------------------------
echo "Router (Network Side) Configuration"
#--------------------------------------------------
    router Base
        interface "system"
            address 10.0.0.11/32
            ipv6
                address fc00::10:0:0:11/128 
            exit
            no shutdown
        exit
        interface "toXR3"
            address 10.11.33.11/24
            port 1/1/1:13
            ipv6
                link-local-address fe80::11 
            exit
            no shutdown
        exit
        interface "toXR4"
            address 10.11.44.11/24
            port 1/1/1:14             
            ipv6
                link-local-address fe80::11 
            exit
            no shutdown
        exit
        autonomous-system 65011
        ecmp 2
        router-id 10.0.0.11
    exit

#--------------------------------------------------
echo "Service Configuration"
#--------------------------------------------------
    service
        customer 1 create
            description "Default customer"
        exit
        customer 2 create
            description "TEST_EVPN_TENNANT"
        exit
        vprn 20000000 customer 2 create
            interface "IRB_VXLAN1" create
            exit                      
            interface "IRB_VXLAN2" create
            exit
        exit
        vpls 1000123 name "L2_DOMAIN_1" customer 2 create
            allow-ip-int-bind
            exit
            vxlan vni 123 instance 1 create
            exit
            bgp
                route-distinguisher 10.0.0.11:123
                route-target export target:65000:123 import target:65000:123
            exit
            bgp-evpn
                ip-route-advertisement incl-host
                vxlan
                    no shutdown
                exit
                mpls
                    shutdown
                exit
            exit
            stp
                shutdown              
            exit
            sap 1/1/2:111 create
                no shutdown
            exit
            proxy-arp
                shutdown
            exit
            proxy-nd
                shutdown
                evpn-nd-advertise router
            exit
            no shutdown
        exit
        vpls 1000456 name "L2_DOMAIN_2" customer 2 create
            allow-ip-int-bind
            exit
            vxlan vni 456 instance 1 create
            exit
            bgp
                route-distinguisher 10.0.0.11:456
                route-target export target:65000:456 import target:65000:456
            exit
            bgp-evpn                  
                ip-route-advertisement incl-host
                vxlan
                    no shutdown
                exit
                mpls
                    shutdown
                exit
            exit
            stp
                shutdown
            exit
            sap 1/1/2:333 create
                no shutdown
            exit
            proxy-arp
                shutdown
            exit
            proxy-nd
                shutdown
                evpn-nd-advertise router
            exit
            no shutdown
        exit                          
        vpls 1000789 customer 2 create
            vxlan vni 789 instance 1 create
            exit
            bgp
                route-distinguisher 10.0.0.11:789
                route-target export target:65000:789 import target:65000:789
            exit
            bgp-evpn
                vxlan
                    no shutdown
                exit
                mpls
                    shutdown
                exit
            exit
            stp
                shutdown
            exit
            sap 1/1/2:555 create
                no shutdown
            exit
            proxy-arp
                no shutdown           
            exit
            proxy-nd
                evpn-nd-advertise router
                no shutdown
            exit
            no shutdown
        exit
        vprn 20000000 customer 2 create
            route-distinguisher 10.0.0.11:2000
            vrf-target export target:65011:2000 import target:65012:2000
            interface "IRB_VXLAN1" create
                address 192.168.0.253/24
                mac 00:20:00:01:23:01
                arp-populate-host-route
                vrrp 1 passive
                    backup 192.168.0.250
                    ping-reply
                    traceroute-reply
                    mac 00:00:5e:00:01:23
                exit
                local-proxy-arp
                vpls "L2_DOMAIN_1"
                exit                  
            exit
            interface "IRB_VXLAN2" create
                address 192.168.1.253/24
                mac 00:20:00:04:56:01
                arp-populate-host-route
                vrrp 1 passive
                    backup 192.168.1.250
                    ping-reply
                    traceroute-reply
                    mac 00:00:5e:00:04:56
                exit
                local-proxy-arp
                vpls "L2_DOMAIN_2"
                exit
            exit
            no shutdown
        exit
        vpls 1000123 name "L2_DOMAIN_1" customer 2 create
            allow-ip-int-bind
            exit
        exit
        vpls 1000456 name "L2_DOMAIN_2" customer 2 create
            allow-ip-int-bind         
            exit
        exit
    exit
#--------------------------------------------------
echo "Router (Service Side) Configuration"
#--------------------------------------------------
    router Base
#--------------------------------------------------
echo "Policy Configuration"
#--------------------------------------------------
        policy-options
            begin
            prefix-list "PL_BGP_LO"
                prefix 10.0.0.0/24 prefix-length-range 32-32
            exit
            policy-statement "RP_BGP_IPV4_UNICAST"
                entry 10
                    from
                        prefix-list "PL_BGP_LO"
                    exit
                    action accept
                    exit
                exit                  
                default-action drop
                exit
            exit
            commit
        exit
#--------------------------------------------------
echo "BGP Configuration"
#--------------------------------------------------
        bgp
            multipath 2
            rapid-withdrawal
            rapid-update l2-vpn mvpn-ipv4 mdt-safi mvpn-ipv6 evpn
            next-hop-resolution
                use-bgp-routes
            exit
            group "FABRIC"
                family ipv4
                authentication-key "4HlvdmOia3UjFYtGFu0MSsbgUOWBy90V" hash2
                export "RP_BGP_IPV4_UNICAST" 
                neighbor 10.11.33.33
                    peer-as 65001
                exit
                neighbor 10.11.44.44  
                    peer-as 65002
                exit
            exit
            group "OVERLAY"
                family evpn
                authentication-key "qNC2llKxhkD1gaQgHEVgl0eTR42IsA9Rw6bT1eQSF1Q" hash2
                neighbor 10.0.0.22
                    local-address 10.0.0.11
                    multihop 5
                    peer-as 65012
                exit
            exit
            no shutdown
        exit
    exit


exit all

# Finished TUE APR 24 19:49:37 2018 UTC
